<footer class="global-footer">
  <div class="container footer-content">
    <p class="footer-text">&copy; 2023 | All Rights Reserved |</p>
    <p class="footer-text developers">
      <span>Developed with</span>
      <span class="heart-icon">
        <svg width="14px" height="12.88px">
          <use href="./images/icons/icons.svg#icon-heart"></use>
        </svg>
      </span>
      <span
        >by
        <span class="students">GoIT Students</span>
      </span>
    </p>
  </div>
</footer>
