<div class="modal-window isHidden">
  <div class="modal-content">
    <button type="button" class="close-button">
      <svg width="30px" height="30px">
        <use href="./images/icons/icons.svg#icon-close"></use>
      </svg>
    </button>

    <div class="movie-image">
      <img class="movie-img" alt="movie-poster" />
    </div>
    <div class="movie-info">
      <h2 class="movie-title"></h2>
      <div class="movie-characteristics">
        <span>Vote / Votes</span>
        <span>
          <span class="movie-score"></span>
          <span class="movie-rating-divider">/</span>
          <span class="movie-votes"></span>
        </span>

        <span>Popularity</span>
        <span class="movie-popularity"></span>

        <span>Original Title</span>
        <span class="original-title"></span>

        <span>Genre</span>
        <span class="movie-genre"></span>
      </div>

      <div class="about-movie">
        <h3>About</h3>
        <p class="movie-overview"></p>
      </div>

      <div class="buttons-wrapper">
        <button type="button" class="add-to-watched">Add to watched</button>
        <button type="button" class="add-to-queue">Add to queue</button>

        <p class="watched-not-awaible">
          This movie is already in your watched list
        </p>
        <p class="queue-not-awaible">
          This movie is already in your queue list
        </p>
      </div>

      <button type="button" class="remove-btn isHidden"></button>
    </div>
  </div>
</div>
